wandb
__pycache__
.vscode
notebooks
# results  # 暂时注释掉，让权重文件可以上传
*.ipynb_checkpoints
eval_results
tests
.DS_Store
gradio.sh
models
bagel_example
Zebra-CoT
model_bf16.safetensors
zebra-cot.tar.gz
reasoning_output*